# Variables de entorno / secretos
.env
.env.*
!.env.example

# Dependencias
node_modules/
venv/
__pycache__/
*.pyc

# Builds
dist/
build/
*.log

# Django
backend/db.sqlite3
backend/media/
backend/staticfiles/

# Editor / OS
.vscode/
.DS_Store
Thumbs.db
